{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "importSource": "react"
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "allowNamespaces": true
      }
    ]
  ],
  "plugins": [["@babel/transform-runtime"]]
}
